<!DOCTYPE html>
<html>
	<head>
		<% include layouts/head.ejs %>
	</head>
	<body>
		<% include layouts/header.ejs %>
			<% var key,str; %>
			<% for(var i in currentUser) { %>
				<% key += i+"="; %>
				<% str += currentUser[i]+"="; %>
			<% } %>
			<%= key %>
			<%= str %>

		<% include layouts/footer.ejs %>
	</body>
</html>