<!DOCTYPE html>
<html>
	<head>
		<% include layouts/head.ejs %>
	</head>
	<body>
		<% include layouts/header.ejs %>
		Welcome	
		<% if(user !== 'undefined'){ %> 
			<li><%= user.username %></li> 
			<li><%= user.password %></li>  
		<% } else {%>
			user undefined!
		<% } %>	
<hr >
		<% if(msg !== 'undefined'){ %>
			<li><%= msg.username %></li> 
			<li><%= msg.password %></li>  
		<% } else {%>
			msg undefined!
		<% } %>		
<hr >
		<% include layouts/footer.ejs %>
	</body>
</html>