<!DOCTYPE html>
<html>
	<head>
		<% include layouts/head.ejs %>
	</head>
	<body>
		<% include layouts/header.ejs %>
		Welcome	
		<% if(user !== 'undefined'){ %>
			<% user.forEach(function(sUser){ %>  
			<li><%= sUser.username %></li> 
			<li><%= sUser.password %></li>  
			<% }); %>
		<% } else {%>
			user undefined!
		<% } %>	
<hr >
		<% if(msg !== 'undefined'){ %>
			<% msg.forEach(function(sUser){ %>  
			<li><%= sUser.username %></li> 
			<li><%= sUser.password %></li>  
			<% }); %>
		<% } else {%>
			msg undefined!
		<% } %>		
<hr >
		<% include layouts/footer.ejs %>
	</body>
</html>