<!DOCTYPE html>
<html>
	<head>
		<% include layouts/head.ejs %>
	</head>
	<body>
		<% include layouts/header.ejs %>
		Welcome	
		<% if(user !== 'undefined'){ %> 
			<% if(user instanceof Object){ %>
			<% var str; %>
			<% for(var i in user){ %>
			<% str += user[i]+'\n'; %>
			<% } %>
			<%= str %>
			<% }  %>
				
				
					
				

			
		<% } else {%>
			user undefined!
		<% } %>	
<hr >
		<% if(msg !== 'undefined'){ %>
			<% if(msg instanceof Object){ %>
			<% var str; %>
			<% for(var i in msg){ %>
			<% str += msg[i]+'\n'; %>
			<% } %>
			<%= str %>
			<% }  %>  
		<% } else {%>
			msg undefined!
		<% } %>		
<hr >
		<% include layouts/footer.ejs %>
	</body>
</html>