a:hover{
	text-decoration: none;
}

/*
sideBar
*/
.st-container{
	background-color: #FFFFFF;
	/*background-image: url("../images/bg.jpg") !important;*/
}
.st-menu{
	background-color: #7FE9AA;
}
.st-content{
	background-color: #FFFFFF;
}

/*
register
*/
div.register{
	width: 100%;
	height: 620px !important;
	background-image: url("/images/register.jpg");
}
.form-register{
	float: right;
	width: 360px;
	margin-right: 5%;
	margin-top: 15%;
}
.form-register .form-control{
	opacity: 0.6;
}
.form-register .input-group-addon{
	opacity: 0.6;
}
/*
navbar
*/
.navbar{
	margin-bottom: 0px !important;
	border-radius: 0px !important;
}
/*
register
*/
div.login{
	width: 100%;
	height: 620px !important;
	background-image: url("/images/login.jpg");
}
.form-login{
	float: right;
	width: 360px;
	margin-right: 5%;
	margin-top: 8%;
}
.form-login .form-control{
	opacity: 0.6;
}
.form-login .input-group-addon{
	opacity: 0.6;
}
.form-login .form-group button{
	opacity: 0.6;
}


58B658
