a:hover{
	text-decoration: none;
}

/*
sideBar
*/
.st-container{
	background-color: #FFFFFF;
	/*background-image: url("../images/bg.jpg") !important;*/
}
.st-menu{
	background-color: #FDD65F;
}
.st-content{
	background-color: #FFFFFF;
}

/*
navbar
*/


FDD65F

5EE43B

772EE4

FD8980

3CDEFB