a:hover{
	text-decoration: none;
}

/*
sideBar
*/
.st-container{
	background-color: #FFFFFF;
	/*background-image: url("../images/bg.jpg") !important;*/
}
.st-menu{
	background-color: #7FE9AA;
}
.st-content{
	background-color: #FFFFFF;
}

/*
register
*/
div.register{
	width: 100%;
	height: 620px !important;
	background-image: url("/images/register.jpg");
}
.form-register{
	float: right;
	width: 360px;
	margin-right: 5%;
	margin-top: 15%;
}
.form-register .form-control{
	opacity: 0.6;
}
.form-register .input-group-addon{
	opacity: 0.6;
}
/*
navbar
*/
.navbar{
	margin-bottom: 0px !important;
	border-radius: 0px !important;
}
/*
register
*/
div.login{
	width: 100%;
	height: 620px !important;
	background-image: url("/images/login.jpg");
}
.form-login{
	float: right;
	width: 360px;
	margin-right: 5%;
	margin-top: 8%;
}
.form-login .form-control{
	opacity: 0.6;
}
.form-login .input-group-addon{
	opacity: 0.6;
}
.form-login .form-group button{
	opacity: 0.6;
}

/*
content-post
*/
.container-post{
	margin-top: 10px;
	height: 206px;
	padding: 0px;
	border-top: 6px solid red;
}
.container-post .content-left{
	float: left;
	width: 36%;
	height: 200px;
}
.container-post .content-images{
	float: left;
	width: 28%;
	height: 200px;
}
.container-post .content-images .img{
	width: 330px;
	height: 200px;
}
.container-post .content-right{
	float: left;
	width: 36%;
	height: 200px;
}
.container-post .panel-body{
	height: 120px;
}
.container-post .list-group{
	border-radius: 0px;
}
.container-post .list-group-item{
	font-size: 12px;
	line-height: 20px;
	height: 40px;
	margin-bottom: 0px;
}
.container-post .list-group-item:first-child{
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}
.container-post .list-group-item:last-child{
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}
.container-post .panel{
	border-radius: 0px;
}
.panel-footer-label{
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 40px;
}

.panel-footer .label{
	display: inline-block;
	float: left;
	width: 33%;
	height: 100%;
}

.panel-footer .label span.a{
	color: black;
	font-size: 15px;
	line-height: 36px;
}
.panel-footer .label span.badge{
	color: black;
	font-size: 15px;
	line-height: 15px;
}


58B658
