<div class="container container-post">
	<div class="content-images">
			<img class="img" src="1.jpg">
		</div>
		<div class="content-left">
			<ul class="list-group">
				<li class="list-group-item">
					<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
					<span>一句话：</span>
					<span>我也许再也不会说那里的风景比这里的风景漂亮，哈哈</span>
				</li>
				<li class="list-group-item">
					<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
					<span>地点：</span>
					<span>西藏</span>
				</li>
				<li class="list-group-item">
					<span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
					<span>推荐指数：</span>
					<span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
					<span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
					<span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
					<span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
					<span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
				</li>
				<li class="list-group-item">
					<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
					<span>发表人：</span>
					<span>dreamapple</span>
				</li>
				<li class="list-group-item">
					<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
					<span>顶</span>
					<span>6</span>
					<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
					<span>踩</span>
					<span>6</span>
				</li>
				
			</ul>
		</div>
		<div class="content-right">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">一些介绍：</h3>
				</div>
				<div class="panel-body">
					这里很好玩的啦
				</div>
				<div class="panel-footer panel-footer-label">
					<div class="label">
						<span class="a glyphicon glyphicon-heart" aria-hidden="true"></span>
						<span class="a">收藏</span>
						<span class="badge">3</span>
					</div>
					<div class="label">
						<span class="a glyphicon glyphicon-search" aria-hidden="true"></span>
						<span class="a">评论</span>
						<span class="badge">6</span>
					</div>
					<div class="label">
						<span class="a glyphicon glyphicon-comment" aria-hidden="true"></span>
						<span class="a">回复</span>
						<span class="badge">9</span>
					</div>
				</div>
			</div>
		</div>
	</div>