<div class="container container-post">
	<div class="content-images">
			<img class="img" src="1.jpg">
		</div>
		<div class="content-left">
			<ul class="list-group">
				<li class="list-group-item">
					<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
					<span>一句话：</span>
					<span>好不好好不好好不好好不好好不好好不好好不好好不好</span>
				</li>
				<li class="list-group-item">
					<span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
					<span>地点：</span>
					<span>西藏</span>
				</li>
				<li class="list-group-item">
					<span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
					<span>推荐指数：</span>
					<span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
					<span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
					<span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
					<span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
					<span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
				</li>
				<li class="list-group-item">
					<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
					<span>发表人：</span>
				</li>
				<li class="list-group-item">
					<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
					<span>顶</span>
					<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
					<span>踩</span>
				</li>
				
			</ul>
		</div>
		<div class="content-right">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">一些介绍：</h3>
				</div>
				<div class="panel-body">
					这里很好玩的啦
				</div>
				<div class="panel-footer">。。。</div>
			</div>
		</div>
	</div>